body {
  background-color: #212121;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 40px;
  text-align: center;
}

h1 {
  color: white;
  margin: 40px;
}
h3 {
  margin: 20px;
  color: white;
}

input {
  display: flex;
  padding: 8px;
  margin: 6px 20px;
  width: 220px;
  font-size: 14px;
}

button {
  padding: 8px 12px;
  font-size: 14px;
  margin: 10px 0 15px;
  cursor: pointer;
}

pre {
  text-align: left;
  margin: 20px auto;
  width: 80%;
  background: #eee;
  padding: 12px;
  white-space: pre-wrap;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
